body,
html {
  background: #448aff;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "arial", "helvetica", sans-serif;
  font-size: 18px;
}

.text {
  text-shadow: 0.15vw 0.15vw black;
}
.name,
.erase {
  color: white;
}
.title {
  font-family: "Sacramento", cursive;
  font-size: 1.6em;
}

.toy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
  box-sizing: border-box;
  width: 90vmin;
  height: 90vmin;
  max-width: 1200px;
  max-height: 1200px;
  background: #f44336;
  box-shadow: 0.25vw 0.25vw 0.25vw;
}

#drawing-area {
  width: 80%;
  height: 75%;
  background: white;
  box-shadow: 0.25vw 0.25vw 0.25vw inset, -0.25vw -0.25vw 0.25vw inset;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1%;
}
.cell {
  width: 1%;
}
.grey {
  background: #757575; /*The color for drawing*/
}
.starting {
  background: #448aff;/*The color for the startin dot*/
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6em;
  width: 80%;
}
.knob {
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  background: white;
  box-shadow: 0.25vw 0.25vw 0.25vw;
}
.direction {
  overflow: hidden;
  flex: none;
  width: auto;
  min-width: 8%;
  text-align: center;
  background: white;
  box-shadow: 0.25vw 0.25vw 0.25vw;
}


@media screen and (max-width: 450px), (max-height: 450px) {
  #drawing-area {
    height: 75%;
  }
  .toy {
    padding: 0;
  }
  .extra-title,
  .knob {
    display: none;
  }
  .title,
  #erase {
    font-size: 1.2em;
  }
   .controls {
    font-size: 1em;
  }
}

@media screen and (max-width: 300px), (max-height: 310px) {
  .erase {
    display: none;
  }
}

@media screen and (max-width: 250px), (max-height: 225px) {
  .name {
    display: none;
  }
  .controls {
    font-size: 0.8em;
  }
  #drawing-area {
    width: 95%;
  }
}
